@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.swiper-pagination-bullet {
    background-color: transparent !important;
    opacity: 0.5;
    transition: all 0.3s ease;
    border: 2px solid black !important;
}

.swiper-pagination-bullet-active {
    background-color: black !important;
    opacity: 1;
}

@media (max-width: 768px) {
    .swiper-slide {
        display: flex !important;
        justify-content: center !important;
    }
}

body {
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Coolvetica';
    src: url('../src/assets/Fonts/CoolveticaRgIt.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}